.record-title {
  color: black;
  font-weight: 500;
  font-size: 30px;
}

.record-results {
  width: 60%;
  height: 800px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: #f1f1f1;
  margin-bottom: 32px;
}

.record-results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 5px;
  padding-right: 5px;
}

.record-results::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #000;
}

.record-results::-webkit-scrollbar-thumb {
  background: #fff;
}

.search-box {
  display: flex;
}

.search-box p {
  font-size: 16px;
  margin-right: 10px;
}

.search-box select {
  font-size: 16px;
}

@media screen and (max-width: 512px) {
  .record-results {
    width: 100%;;
  }
  .search-box p {
    display: none;
  }
}
