.avatar {
  background-color: #f1f1f1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.avatar {
  object-fit: cover;
}

.avatar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .avatar {
      height: 200px;
      width: 200px;
  }
}

.page {
  display: flex;
  width: 60%;
}

@media screen and (max-width: 512px) {
  .page {
    width: 100%;
  }
}

.disabled-prev {
  width: 20%;
  font-size: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(216, 216, 216)
}

.disabled-next {
  width: 20%;
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(216, 216, 216)
}

.previous {
  width: 20%;
  font-size: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.previous:hover {
  cursor: pointer;
}

.previous:active {
  opacity: 0.5;
}

.page-information {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  width: 20%;
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.next:hover {
  cursor: pointer;
}

.next:active {
  opacity: 0.5;
}